<ion-header>
  <ion-navbar>
    <ion-title>
      Weather Ionic
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-input placeholder="City Name" [(ngModel)]="cityName"></ion-input>
    </ion-item>
  </ion-list>

  <button ion-button block (click)="getData()">Show Weather</button>
  <br/>
  

 <ion-card no-margin>

    <ion-item-divider color="light">
        City Map
      </ion-item-divider>
      <img src="https://maps.gooleapis.com/maps/api/staticmap?center={{cityName}}&
      size=600x300"/>

   <ion-item-divider color="light">
     Location Details
   </ion-item-divider>
   <ion-item> City: {{ weatherInfo.name }} </ion-item>
   <ion-item *ngIf="weatherInfo.sys"> Country: {{ weatherInfo.sys.country }} </ion-item>
   <ion-item *ngIf="weatherInfo.coord">Coordinates: {{ weatherInfo.coord.lon}}, {{ weatherInfo.coord.lat}}</ion-item>
  </ion-card>

  <ion-card no-margin>


      <ion-item-divider color="light">
        Weater Details   
      </ion-item-divider>
      <ion-item *ngIf="weatherInfo.main">Temperature: {{ weatherInfo.main.temp }} Kelvin</ion-item>
      <ion-item *ngIf="weatherInfo.main">Pressure: {{ weatherInfo.main.pressure }} mmHg</ion-item>
      <ion-item *ngIf="weatherInfo.main">Huminidy: {{ weatherInfo.main.humidity }} %</ion-item>
    </ion-card>

    <ion-card no-margin *ngIf="weatherInfo.wind">
      <ion-item-divider color="light">
        Wind Details
      </ion-item-divider>
        <ion-item>
          Speed {{weatherInfo.wind.speed}} m/s 
        </ion-item>
        <ion-item>
          Angle {{weatherInfo.wind.deg}} deg
        </ion-item>
    </ion-card>
</ion-content>
