
<ion-header>

  <ion-navbar>
    <ion-title>profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>
<ion-footer>
  <button ion-button block (click)="close()">Close Modal</button>'
</ion-footer>
  
