<ion-header>
  <ion-navbar color="danger">
    <ion-title>
     Sliding Lists
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-grid>
      <ion-row>
        <ion-col col-3>
          Column 1
        </ion-col>
        <ion-col col-6>
            Column 2
          </ion-col>
          <ion-col col-3>
              Column 3  
            </ion-col >
      </ion-row>

      <ion-row>
          <ion-col col-3>
            Column 1
          </ion-col>
          <ion-col col-6>
              Column 2
            </ion-col>
            <ion-col col-3>
                Column 3  
              </ion-col >
        </ion-row>
    </ion-grid>

</ion-content>

