<ion-header>
  <ion-navbar color="danger">
    <ion-title>
     Sliding Lists
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      This is card title
    </ion-card-header>
    <img src="http://via.placeholder.com/300X200"/>

    <ion-list>
      <button ion-item>
        <ion-icon name="text" item-start></ion-icon>
        Hello
      </button>
      <button ion-item>
          Hello to you
          <ion-icon name="text" item-end></ion-icon>
        </button>
    </ion-list>

    <ion-card-content>
    This is an Ionic Card. It can be used to display any content, including pictures.
  </ion-card-content>
  </ion-card>


</ion-content>

