<ion-header>
  <ion-navbar color="danger">
    <ion-title>
     Sliding Lists
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-list>
  <ion-item-sliding>
    <ion-item>
      <ion-avatar item-left>
        <img src="http://via.placeholder.com/64x64/">
      </ion-avatar>
      <h2>Some ITem</h2>
    </ion-item>

    <ion-item-options>
        <button ion-button clear color="danger">
           <ion-icon name="call"></ion-icon>
          </button>
      <button ion-button color="primary">
        SMS
      </button>
    </ion-item-options>
  </ion-item-sliding>


  <ion-item-sliding>
      <ion-item>Some Item</ion-item>
  
      <ion-item-options>
        <button ion-button color="danger">
          Call
        </button>
        <button ion-button color="primary">
            SMS
          </button>
      </ion-item-options>
    </ion-item-sliding>

</ion-list>
  
</ion-content>

