<ion-header>
  <ion-navbar color="primary">
    <ion-title>
     Forms
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list inset>
    <button ion-item>List Item 1</button>
    <button ion-item>List Item 2</button>
    <button ion-item>List Item 3</button>
    <button ion-item>List Item 4</button>
  </ion-list>

  <ion-list>
  <ion-list-header>
    Action
  </ion-list-header>
    <ion-item>Terminator II</ion-item>
    <ion-item>The Empire Strikes Back</ion-item>
    <ion-list-header>
      Comedy
    </ion-list-header>
    <ion-icon name="rose" item-start></ion-icon>
      <ion-item>Terminator II</ion-item>
      <button ion-button clear icon-only item-end>
        <ion-icon name="leaf"></ion-icon>
      </button>
      <ion-item>The Empire Strikes Back</ion-item>
    </ion-list>
</ion-content>

