<ion-header>
  <ion-navbar color="primary">
    <ion-title>
     Forms
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<ion-item>
  <ion-label floating>Username</ion-label>
  <ion-input type="text" placeholder="username"></ion-input>
</ion-item>
<ion-item>
<ion-label>Passworld</ion-label>
<ion-input type="password"></ion-input>
</ion-item>

<ion-item>


<ion-label>Accout Type</ion-label>
<ion-select intergfavce="popover">
  <ion-option>Customer</ion-option>
  <ion-option>Administrator</ion-option>
  <ion-option>Editor</ion-option>
  <ion-option>Author</ion-option>
</ion-select>
</ion-item>
</ion-content>

