<ion-header>
  <ion-navbar>
    <ion-title danger>
      Ionic Componenta - Interaction
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <ion-list-header>
        Sign Up
      </ion-list-header>
      <ion-item>
          <ion-label floating >Username</ion-label>
          <ion-input type="text" [(ngModel)]="username"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating  >Password</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
  
  <ion-item>
      <ion-label floating  >Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
    </ion-item>

   
  </ion-list>

  <ion-grid>
      <ion-row>
          <ion-col>
          <button ion-button block outline (click)="cancel()">Cancel</button>
          </ion-col>
          <ion-col>
          <button ion-button block (click)="lading()">Loading</button>
        </ion-col>
      </ion-row>

      <ion-row>
          <ion-col>
          <button ion-button block outline (click)="alert()">Alert</button>
          </ion-col>
          <ion-col>
          <button ion-button block (click)="login()">Login</button>
        </ion-col>
      </ion-row>
    </ion-grid>    
</ion-content>
