<!--
  Generated template for the OfficePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Office page</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button block ion-button (click)="goBack()">Go Back</button>
  <button block ion-button (click)="reset()">Reset</button>

</ion-content>
