<ion-header>
  <ion-navbar>
    <ion-title danger>
      Toast Controller
    </ion-title>

      <ion-buttons end>
        <button ion-button icon-only (click)="presentPopover($event)">
          <ion-icon name="more"></ion-icon>
        </button>

      </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <ion-list-header>
        Sign Up
      </ion-list-header>
      <ion-item>
          <ion-label floating >Username</ion-label>
          <ion-input type="text" [(ngModel)]="username"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating  >Password</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
  
  <ion-item>
      <ion-label floating  >Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
    </ion-item>

   
  </ion-list>

  <ion-grid>
      <ion-row>
          <ion-col>
          <button ion-button block outline (click)="cancel()">Cancel</button>
          </ion-col>
          <ion-col>
          <button ion-button block (click)="lading()">Loading</button>
        </ion-col>
      </ion-row>

      
      <ion-row>
          <ion-col>
          <button ion-button block outline (click)="alert()">Alert</button>
          </ion-col>
          <ion-col>
          <button ion-button block (click)="login()">Login</button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
        <button ion-button block outline (click)="toast()">Toast</button>
        </ion-col>
        <ion-col>
        <button ion-button block (click)="actionsheet()">ActionSheet</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
      <button ion-button block outline (click)="gotoOffice()">Go to the OfficePage</button>
      </ion-col>
      <ion-col>
        <button ion-button block outline (click)="openModal()">Open Modal</button>
        </ion-col>
     
  </ion-row>
    </ion-grid>    
</ion-content>